{% extends "base.html" %}

{% block content %}
<h2>Movies I Have Watched:</h2>

<ul>
  {% for movie in movies %}
    <li>
      <h3>{{ movie.name }}</h3>
      <form action="/rating-confirmation" method="post">
        <label>
          My Rating:

          {{ movie }}
          <input type="hidden" name="rated-movie" value="{{ movie }}"/>
          <select name="rating">
              <option>How was it?</option>
              <option value="*">*</option>
              <option value="**">**</option>
              <option value="***">***</option>
              <option value="****">****</option>
              <option value="*****">*****</option>
          </select>
        <input type="submit" value="Rate it!"/> 
      </form>
    </li>
  {% endfor %}
</ul>

{% endblock %}
<!-- 

{% extends "base.html" %}

{% block content %}
<h2>Movies I Have Watched</h2>
<ul>
    {% for movie in watchedlist %}
    <li>
        <form action="/rating-confirmation" method="post">
            {{ movie }}
            <input type="hidden" name="rated-movie" value="{{ movie }}"/>
            <select name="rating">
                <option>How was it?</option>
                <option value="*">*</option>
                <option value="**">**</option>
                <option value="***">***</option>
                <option value="****">****</option>
                <option value="*****">*****</option>
            </select>
            <input type="submit" value="Rate It!" />
        </form>

    </li>
    {% endfor %}
</ul>
{% endblock %} -->